<h1>Sequence Generation</h1>

<p>create array of octaves (will be like a select scroll)
<br>
<br>
octaves/scale = [-1,0,1,2,3,4,5,6,7]
<br>
<br>
#create array of keys (will be like a select scroll)
<br>
<br>
keys = '1A - G# Minor'=['c#','d#','e','f#','g#','a#','b'],
       <br>
       '1B - B Major'=['c#','d#','e','f#','g#','a#','b'],
       <br>
       '2A - D# Minor'=['c#','d#','f','f#','g#','a#','b'],
       <br>
       '2B - F# Major'=['c#','d#','f','f#','g#','a#','b'],
       <br>
       '3A - A# Minor'=['c','c#','d#','f','f#','g#','a#'],
       <br>
       '3B - C# Major'=['c','c#','d#','f','f#','g#','a#'],
       <br>
       '4A - F Minor'=['c','c#','d#','f','g','g#','a#'],
       <br>
       '4B - G# Major'=['c#','d#','f','g','g#','a#','b'],
       <br>
       '5A - C Minor'=['c','d','d#','f','g','g#','a#'],
       <br>
       '5B - D# Major'=['c','d','d#','f','g','g#','a#'],
       <br>
       '6A - G Minor'=['c','d','d#','f','g','a','a#'],
       <br>
       '6B - A# Major'=['c','d','d#','f','g','a','a#'],
       <br>
       '7A - D Minor'=['c','d','e','f','g','a','a#'],
       <br>
       '7B - F# Major'=['c','d','e','f','g','a','a#'],
       <br>
       '8A - A Minor'=['c','d','e','f','g','a','b'],
       <br>
       '8B - C Major'=['c','d','e','f','g','a','b'],
       <br>
       '9A - E Minor'=['c','d','e','f#','g','a','b'],
       <br>
       '9B - G Major'=['c','d','e','f#','g','a','b'],
       <br>
       '10A - B Minor'=['c#','d','e','f#','g','a','b'],
       <br>
       '10B - D# Major'=['c#','d','e','f#','g','a','b'],
       <br>
       '11A - F# Minor'=['c#','d','e','f#','g#','a','b'],
       <br>
       '11B - A Major'=['c#','d','e','f#','g#','a','b'],
       <br>
       '12A - C# Minor'=['c#','d#','e','f#','g#','a','b'],
       <br>
       '12B - E Major'=['c#','d#','e','f#','g#','a','b']
<br>
<br>
       #create a loop that prints text x12 within 8secs ([1 x octave] + [1 x key])
<br>
       #convert into midi</p>
